<div class = "recipe-box">
<h1><%= @recipe.name%></h1>
<img width=130 src="<%= @recipe.image %>"/> 
<section class="ingredients-box">
  <h2>ingredients</h2>
  <ul>
    <% @ingredients.each do |i| %>
    <li class = "ingredients"><%= link_to i.name, ingredient_path(i) %></li>
    <% end %>
  </ul>
</section>

<p>
  <% if logged_in? && @current_user.favorites.include?('@recipe.name') == false %>
    <%= link_to '♥', favorite_recipe_path(@recipe.id), :method => :post, class: "giantheart" %>
  <% end %>
</p>

<h2>recipes with a similar ingredients list</h2>
  <% @similar.each do |r|%>
    <%if r.name != @recipe.name %>
      <%= render '/recipes/single_recipe' %>
      <% end %>
    <% end %>
</div>