<h1><%= @recipe.name%></h1>
<img width=130 src="<%= @recipe.image %>"/> 

<h2>ingredients</h2>
<ul>
  <% @ingredients.each do |i| %>
  <li class = "ingredients"><%= link_to i.name, ingredient_path(i) %></li>
  <% end %>
</ul>

<h2>recipes with a similar ingredients list</h2>




  <% @similar.each do |r|%>
    <%if r.name != @recipe.name %>
      <img class = "image-index" width=130 src="<%= r.image %>"/> 
      <li><%= r.name %></li>
        <% end %>
  <% end %>