<!DOCTYPE html>
<html>
<head>
   <title>PlumPantry</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Rouge+Script|Arvo" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <header>
      <h1><a href="/">plum <span>pantry</span></a></h1>
    </header>
    <nav>
      <li><a href="/users/new">sign up</a></li>
      <li><a href="/session/new">login</a></li>
    </nav>     
  </div>
  <div class="wrapper">
  <%= yield %>
  </div>
</body>
</html>
