<!DOCTYPE html>
<html>
<head>
   <title>PlumPantry</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Rouge+Script|Arvo" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <header>
      <h1><a href="/">plum <span>pantry</span></a></h1>
    </header>
    <nav>
      <% if logged_in? == false %>
        <li class="nav-home"><a href="/users/new">sign up</a></li>
        <li class="nav-home"><a href="/session/new">login</a></li>
      <% end %>
      <% if logged_in? %>
        <%= link_to 'my pantry', user_path(@current_user), :method => :get, class: "nav-home" %>
        <%= link_to 'logout', session_path, :method => :delete, class: "nav-home" %>
      <% end %>
    </nav>     
  </div>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>